@model StudentManageDotnet.Models.Course

@{
    ViewBag.Title = "Delete";
}

<h2 style="color:crimson">Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4 style="background-color:aquamarine">Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.course1,"Course", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course1)
        </dd>

        <dt>
            @Html.LabelFor(model => model.duration,"Duration", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duration)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
