@model IEnumerable<StudentManageDotnet.Models.Registration>

@{
    ViewBag.Title = "Index";
}

    <h2 class="ind">Registration Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <body style="background-color: lavenderblush">
        <p>
            @using (Html.BeginForm("Index", "Registration", FormMethod.Get))
            {
                @Html.TextBox("search")<input type="submit" value="Search" name="c" />
                @Html.TextBox("searchCourse")<input type="submit" value="SearchCourse" name="c" />
                @Html.TextBox("searchBatch")<input type="submit" value="SearchBatch" name="b" />
                
            }

        </p>


        <table class="table" border="2" style="background-color: ghostwhite">
            <tr>
                <th>
                    Firstname
                </th>
                <th>
                    Lastname
                </th>
                <th>
                    Nickname
                </th>
                <th>
                    Telephone
                </th>
                <th>
                    Batch
                </th>
                <th>
                    Course
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
             
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Batch.batch1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.course1)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }
            
        </table>
    </body>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
    
